<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">
    <ui:define name="styles">
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        Candidatos
        <h:form>
            <h:dataTable binding="#{registroBean.dataTable}" value="#{registroBean.candidatoList}" var="candidato">
                <h:column>
                    <f:facet name="header">CPF </f:facet> 
                    #{candidato.cpf}
                </h:column>
                
                <h:column>
                    <f:facet name="header">Nome </f:facet> 
                    #{candidato.nome}
                </h:column>
                <h:column>
                    <f:facet name="header">Cidade </f:facet> 
                    #{candidato.cidade}
                </h:column>
                <h:column>
                    <f:facet name="header">Estado </f:facet> 
                    #{candidato.estado}
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>